[Desktop Entry]
Encoding=UTF-8
Name=Link to b1baee0b-4e39-4bb2-8d15-87d999275a87.jpg
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=882cf651ec&attid=0.1&permmsgid=msg-a:r7952292856268020997&th=17e5755a320b2f02&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9F1LvpK-fsOw8mAFUKAey3g1GbrZnNzmXA4vIWvlVN-Pb0ZIa6lAOlODI3z2fJ4r48jn_6JABa1U_SKRpl6eFIbzfFUOeKyc7NTjCKytBdmhIo1YOE87i-gNM&disp=emb&realattid=ii_kye1cnyl0
Icon=text-html
Name[en_US]=PathConvergence.jpg
